= link_to "Crawler Crawler", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Sources', sources_path
    %li
      Logged in as #{current_user.name}
    %li
      = link_to 'Logout', signout_path
  - else
    %li
      = link_to 'Login', signin_path
